* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pricing-card {
    width: 350px;
    height: 537px;
    border-radius: 20px;
    padding: 64px;
    background: #FFFFFF;
    box-shadow: 0 4px 32px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .2s;
    h4 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #4238AF;
    }
    h2 {
        font-family: 'Oswald', sans-serif;
        font-weight: normal;
        font-size: 45px;
        line-height: 55px;
        color: #353434;
        letter-spacing: 3px;
    }
    h5 {
        font-family: 'Open Sans', sans-serif;
        line-height: 24px;
        font-size: 16px;
        color: #8A86B9;
    }
    p {
        font-family: 'Open Sans', sans-serif;
        font-weight: normal;
        color: #A8A8A8;
        font-size: 14px;
        width: auto;
        display: flex;
        justify-content: center;
        text-align: left;
        align-items: center;
        gap: 4px;
        img {
            height: 16px;
            width: 16px;
        }
    }
    button {
        width: 172px;
        height: 43px;
        background: #BDBBD9;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: normal;
        border: none;
        outline: none;
        border-radius: 50px;
        color: #FFFFFF;
        cursor: pointer;
        transition: .2s;
    }
    &:hover {
        transform: translateY(-22px) scale(1.02);
        box-shadow: 0 3px 16px rgba(0, 0, 0, 0.15);
        background: #F9FAFF;
        button {
            background: #544CAC;
        }
    }
}