* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  height: 425px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 119px;
  background: #DBE2FF;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
footer .container {
  width: 1140px;
  height: 100%;
  padding-top: 110px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-top {
  height: 163px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer-top-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
footer .footer-top-list li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  color: #717171;
}
footer .footer-top-list li:nth-child(1) {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  color: #353434;
}
footer .footer-top-list li:nth-child(2) {
  margin-top: 10px;
}
footer .footer-bottom {
  height: 54px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 3px #625BAE;
}
footer .footer-bottom-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
footer .footer-bottom-logo h3 {
  font-family: "Odibee Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2px;
  color: #272626;
}
footer .footer-bottom-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 65px;
}
footer .footer-bottom-list li {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 26px;
  transition: 0.2s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
footer .footer-bottom-list li:hover {
  transform: scale(1.2);
}
footer .footer-bottom-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 9px;
}
footer .footer-bottom-icons .icon {
  height: 29px;
  width: 29px;
  background: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
  cursor: pointer;
}
footer .footer-bottom-icons .icon svg {
  height: 12px;
  width: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  color: #FFFFFF;
}
footer .footer-bottom-icons .icon:hover {
  background: rgba(66, 56, 175, 0.81);
}

@media screen and (max-width: 1199px) {
  .footer .container {
    width: 990px;
  }
}
@media screen and (max-width: 991px) {
  .footer .container {
    width: 767px;
  }
  .footer-bottom-list {
    gap: 30px !important;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    height: auto !important;
  }
  .footer .container {
    padding-top: 75px;
    width: 576px;
    gap: 45px;
  }
  .footer-top {
    height: auto !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around !important;
  }
  .footer-top-list {
    width: 150px;
    margin-top: 35px;
  }
  .footer-bottom-list {
    gap: 10px !important;
  }
  .footer-bottom-list li {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 577px) {
  .footer .container {
    width: 468px;
  }
  .footer-top-list {
    align-items: center !important;
  }
  .footer-bottom {
    height: auto !important;
    padding: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around !important;
  }
  .footer-bottom-icons {
    gap: 5px;
  }
  .footer-bottom-icons .icon {
    height: 24px;
    width: 24px;
  }
}/*# sourceMappingURL=Footer.css.map */