@media screen and (max-width: 1199px) {
    .Pricing {
        height: auto;
        .container {
            width: 990px;
        }
        .pricing-container {
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            .pricing-card {
                transform-origin: center center;
                transform: scale(.8);
            }
        }
    }   
}
@media screen and (max-width: 991px) {
    .Pricing {
        .container {
            width: 767px;
        }
    } 
}
@media screen and (max-width: 768px) {
    .Pricing {
        .container {
            width: 576px;
        }
    }
}
@media screen and (max-width: 577px) {
    .Pricing {
        h2, p {
            width: 100%;
        }
        .container {
            width: 468px;
        }
    }
}